*{

    margin: 0;

}

.borda{

    border: 1px solid red;
    border-radius: 5px;

}

header{

    text-align: center;
    background-color: rgb(3, 3, 121);
    margin: 0;
    width: 100%;
    height: auto;

}

header div{

    position: relative;
    width: 50%;
    height: 50%;
    margin: 0;
    left: 25%;

}

header h1{

    text-align: center;
    color: white;

}

main{

    width: 100%;
    height: auto;

}

.semestre{

    position: relative;
    box-sizing: border-box;

}
